[submodule "frontend_microservice_react"]
	path = frontend_microservice_react
	url = https://github.com/junaid18183/frontend_microservice_react.git
[submodule "product_microservice_sample"]
	path = product_microservice_sample
	url = https://github.com/junaid18183/product_microservice_sample.git
