# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 
microservices/*
microservices/frontend_microservice_react/ 
microservices/product_microservice_sample/ 
microservices/shipment_microservice_sample/ 
argo-cd-deployement/repocreds.yaml
argo-cd-deployement/helm-repo.yaml

target
