apiVersion: v1
stringData:
  name: microservice-ci-cd-demo-using-gitops
  project: managed-apps
  type: git
  # You can either use https URL with username and Password. Or ssh url with sshPrivateKey
  url: https://github.com/junaid18183/microservice-ci-cd-demo-using-gitops.git
  username: junaid18183
  password: GITLAB_PAT_WITH_WRITE_PERMISSIONS
  # url: git@github.com:junaid18183/microservice-ci-cd-demo-using-gitops.git
  # username: junaid18183
  # sshPrivateKey: BASE_ENCODED_PRIVATE_KEY_FOR_THE_REPO
kind: Secret
metadata:
  annotations:
  labels:
    argocd.argoproj.io/secret-type: repository
  name: repo-microservice-ci-cd-demo-using-gitops
  namespace: argocd
type: Opaque