apiVersion: v1
stringData:
  name: microservice-ci-cd-demo-using-gitops
  project: managed-apps
  sshPrivateKey: BASE_ENCODED_PRIVATE_KEY_FOR_THE_REPO
  type: git
  url: git@github.com:junaid18183/microservice-ci-cd-demo-using-gitops.git
  username: junaid18183
  password: github_token
kind: Secret
metadata:
  annotations:
  labels:
    argocd.argoproj.io/secret-type: repository
  name: repo-microservice-ci-cd-demo-using-gitops
  namespace: argocd
type: Opaque
